{% extends "base.html" %}
{% block content %}
<div class="grid py-1 text-center">
    <div class="d-inline-flex">
        <div class="card m-5">
            <div class="card-header">
                <h3>Top Employee</h3>
            </div>
            <div class="card-body text-center">
                <h3>{{ top_employee }}</h3>
            </div>
        </div>
        <div class="card m-5">
            <div class="card-header">
                <h3>Top Product</h3>
            </div>
            <div class="card-body text-center">
                <h3>{{ top_product }}</h3>
            </div>
        </div>
        <div class="card m-5">
            <div class="card-header">
                <h3>Top Sale</h3>
            </div>
            <div class="card-body text-center">
                <h3>{{ top_sale }}</h3>
            </div>
        </div>
    </div>
</div>
{% endblock %}
