{% extends "base.html" %}
{% block content %}
<div class="container py-4">
    <h1>Home</h1>
    <div class="d-inline-flex">
        <div class="card m-5">
            <div class="card-header">
                <h3>Total Commissions</h3>
            </div>
            <div class="card-body text-center">
                <h3>230</h3>
            </div>
        </div>
        <div class="card m-5">
            <div class="card-header">
                <h3>Total Sales</h3>
            </div>
            <div class="card-body text-center">
                <h3>2300</h3>
            </div>
        </div>
        <div class="card m-5">
            <div class="card-header">
                <h3>Best Sale</h3>
            </div>
            <div class="card-body text-center">
                <h3>1100</h3>
            </div>
        </div>

    </div>
</div>
{% endblock %}
