{% extends "base.html" %}
{% block content %}
<div class="container py-4">
    <div class="row">
        <div class="col-8 my-3 px-4">
            <h1>New Sale</h1>
            <div class="d-flex ">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="col-1">ID</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th class="col-3">Quantity</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product_data in cart %}
                        <tr>
                            <td>{{ product_data['product'].id }}</td>
                            <td>{{ product_data['product'].name }}</td>
                            <td>{{ product_data['product'].price }}</td>
                            <td>{{ product_data['quantity'] }}</td>
                            <td>{{  product_data['total'] }}</td>
                            <td class="col-1">
                                <a href="/employee/sale/{{ product_data['product'].id }}/delete" class="icon-link icon-link-hover"><i class="bi bi-trash-fill text-danger fs-5"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td class="fw-bold mx-auto" colspan="4">Total</td>
                            <td class="fw-bold">{{ total }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-grid gap-2 mt-3">
                <a href="/employee/sale/save" class="btn btn-warning">Save</a>
            </div>
        </div>
        <div class="col-4">
            <h2 class="mb-3">Find Product</h2>
            <form class="mb-3 form-group" action="/employee/sale/add-product" method="POST">
                <input name="product_name" type="text" class="form-control" id="product_name" list="products" placeholder="Product Name" required>
                <datalist id="products">
                    {% for product in products_list %}
                    <option value="{{ product.name }}">
                    {% endfor %}
                </datalist>
                <input name="quantity" type="number" class="form-control mt-2" id="quantity" placeholder="Quantity" required>
                <div class="d-grid gap-2 mt-3">
                    <button type="submit" href="/employee/sale/add-product" class="btn btn-warning">Add Product</button>
                </div>
            </form>
            <hr>
            <div class="card">
                <div class="card-header">
                    <h3>Commission</h3>
                </div>
                <div class="card-body text-center">
                    <h3>{{ total * 0.1 }}</h3>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
