{% extends "base.html" %}
{% block content %}
<div class="container py-4">
    <h1>Home</h1>
    <div class="d-inline-flex align-items-center">
        <div class="card m-5">
            <div class="card-header">
                <h3>Total Commissions</h3>
            </div>
            <div class="card-body text-center">
                <h3>{{ total_commission }}</h3>
            </div>
        </div>
        <div class="card m-5">
            <div class="card-header">
                <h3>Total Sales</h3>
            </div>
            <div class="card-body text-center">
                <h3>{{ total_sales }}</h3>
            </div>
        </div>
        <div class="card m-5">
            <div class="card-header">
                <h3>Best Sale</h3>
            </div>
            <div class="card-body text-center">
                <h3>{{ best_sale }}</h3>
            </div>
        </div>

    </div>
</div>
{% endblock %}
